<!DOCTYPE html>
<html>

<head>
    <title>test site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    {% block content %}
    {% endblock content %}

    <ul style="margin-left: 1.2rem;">
        {% set blog_section = get_pages(path="/blog/") %}
        {% for page in blog_section | slice(end=5) %}
        <li><a href="{{ page.link | safe }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>

    {% block scripts %}
    {% endblock scripts %}
</body>

</html>
